.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  justify-content: center;
  flex: 1;
}

.first {
  display: flex;
  justify-content: center;
  flex: 1;
  min-width: 100%;
}

.button {
  background: none;
  padding: 10px;
  min-width: 20%;
  border: none;
  outline: none;
  border: 2px solid gainsboro;
  max-width: 20%;
  align-self: center;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: grey;
  font-weight: bold;
}

.button:active {
  box-shadow: 0px 1px 1px 0px gainsboro;
}
.hint {
  text-align: justify;
}
.hint .text-highlight {
  color: rgb(218, 15, 15);
  font-weight: bold;
}

@media (max-width: 767px) {
  .hint {
    min-width: 90%;
    max-width: 95%;
    align-self: center;
  }
}
@media (min-width: 768px) {
  .hint {
    min-width: 50%;
    max-width: 75%;
    align-self: center;
  }
}
